/*
    VÄRIT

    #E2E1E9
    #CCC9D1
    #A4ABBF
    #5F6273
    #F00807

*/
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

@keyframes menu-hover-pulse {
    0% {
         
    }
    100% {
        color: #A4ABBF;
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 55px;
}
.navBar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ccc9d1;
}
.btnMenu:hover {
    animation: menu-hover-pulse 0.8s ease-in infinite alternate;
}
.btnMenu:active {
    color: #F00807;
}
a.btnMenu {
    position: relative;
 
}
.btnMenu {
    text-decoration: none;
    color: #5f6273;
    text-align: center;
    float: left;
    font-size: 2rem;
    background-color: #ccc9d1;
    min-width: fit-content;
    outline: 1px solid #E2E1E9;
    padding: 5px 10px 5px 10px;
    
}
body {
    margin: 0;
    background-color: #E2E1E9;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.5rem;
}
.mainWrapper {
    margin-top: 55px;
}
.main {
    height: fit-content;
    min-height: 600px;
    width: 100%;
    outline: 0px solid black;
    padding: 0px 0px 0px 0px;
    float: left;
}
#home {
    background-color: #A4ABBF;
}
.leftDiv {
    padding: 0.15%;
    height: 100%;
    width: 33%;
    float: left;
    margin: auto;
}
.midDiv {
    padding: 0.15%;
    height: 100%;
    width: 33%;
    float: left;
    margin: auto;
}
.rightDiv {
    padding: 0.15%;
    height: 100%;
    width: 33%;
    float: left;
    margin: auto;
}
img {
    width: 100%;
    height: 100%
}
p {
    padding: 10px;
}