header {
    background-color: dimgray;
}
body {
    background-color: gray;
    color: white;
}
a:visited {
    color: white;
}
a:hover{
    color: red;
}
#otsikko {
    text-decoration: underline;
    text-align:center;
    text-underline-offset: 5px;
}
.linkki {
    border: 2px solid white;
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 20px 10px 0px 5px;
    border-radius: 15px 15px 5px 0px;
}
p {
    background-color: black;
    color: forestgreen;
}
nav {
    width: 30%;
    float: left;
    background-color: lightgray;
}
section{
    width: 70%;
    float: left;
}
